* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: antiquewhite;
}

header {
    background: linear-gradient(deepskyblue, lightblue);
    padding: 10px 0;
    border-radius: 10px;
    margin: 20px;
}

.now-showing-part,
.more-movies-part,
.contact-us {
    margin: 20px;
    padding: 20px;
}

.showing-container,
.movies-container {
    background-color: #fff;
    padding: 30px;
    margin: 25px 0 25px 0;
    border: 1px solid #fff;
    border-radius: 10px;
}

#loadImg .figure {
    margin: 0 15px;
}

.img-fluid {
    width: 150px;
}

.figure {
    cursor: pointer;
}

/* scroll */
.scroll {
    display: flex;
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

.img-box img {
    max-width: 150px;
    filter: grayscale(.8);
    transition: filter 0.5s;
}

.img-box img:hover {
    filter: grayscale(0);
}

.scroll>div {
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
}

@keyframes animate {
    0% {
        transform: translateX(30%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scroll:hover>div {
    animation-play-state: paused;
}

/* movie_info */
.movie-info {
    margin: 3px 100px;
    padding: 13px;
}

.movie-info .row {
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.info {
    margin-top: 30px;
}

.synopsis {
    white-space: pre-line;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: bold;
}

#languageValue,
.languageValue {
    text-transform: uppercase;
}

.figure-big {
    margin-top: 20px;
}

.figure-caption {
    font-weight: bold;
}

footer {
    background-color: lightblue;
    border-radius: 10px;
}

@media screen and (max-width: 430px) {

    .now-showing-part,
    .more-movies-part,
    .contact-us {
        width: 90%;
    }

    .movie-info {
        margin: 3px auto;
    }

    .info {
        margin-top: 10px;
    }

    .movie-info .row {
        margin-top: 0;
    }
}